@import "variables";

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  background-color: $black;
  color: $white;
  .title {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  input[type="radio"] {
    margin-left: 20px;
    &:focus,
    &:active {
      outline: none;
    }
  }
  input[type="radio"]:checked + label {
    color: red;
  }
  input[type="text"] {
    padding: 10px;
    color: $black;
    background-color: $white;
    border: none;
    border-radius: 5px;
  }
  label {
    font-size: 16px;
    white-space: normal;
  }
}
  .sort-container{
    display: flex;
    flex-direction: column;
  }

.name,
.id,
.tag,
.abv,
.description{
  padding: 10px;
}
.allBeer{
  cursor: pointer;
  border-top: 1px solid black;
  &:first-child{
    border-width: 2px;
  }
}
.id,
.abv{
  text-align: center;
}
.table-style{
  padding: 0 5px ;
}
.table-head{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.modal-title{
  font-weight: bold;
}
.modal-body{
  text-align: justify;
  font-size: 15px;
}

 @media  screen and ( min-width: 768px){
   .top-container{
     flex-direction: row;
     height: 100px;
   }
   .sort-container{
     flex-direction: row;
     .title{
       text-align: left;
       margin:0  20px  0;
     }
   }
   .table-style{
     padding: 0 30px;
     border-style: solid;
     border-width: 0 10px ;
   }
 }