@import "mixins/clearfix";
@import "mixins/grid-breakpoints";
@import "mixins/grid-framework";
@import "mixins/grid";


@mixin title-before-icon {
  content: "";
  @extend .icon-fire;
  position: absolute;
  top: 0px;
  left: 60px;
}
@mixin title-after-line {
  content: "";
  width: 140px;
  height: 1px;
  background-color: $light-gray;
  position: absolute;
  left: 0;
  top: 26px;
}

@mixin player-icon {
  img {
    width: 100%;
    max-height: 165px;
    object-fit: cover;
    display: block;
    @include media-breakpoint-up(sm)  {
      max-height: 100%;
    }
  }
  &:before {
    @extend .icon-player;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
  }
}


